body {
  display: flex;
  background-color: pink;
}

div {
  background: yellow;
}

@media (orientation: landscape) {
  div {
    background: blue;
  }
}

@media (orientation: portrait) {
  div {
    background: green;
  }
}
